body
{ 
  font-family: ariel;
  display: flex;
  flex-direction: column;
  color: rgb(255,255,255);
  background-color: #2B303A;
}
form
{
  max-width: 800px;
  margin: 0 auto;
}
legend
{
  border-bottom:1px solid #58A4B0;
}

h1, input{
  text-align: center;
}
input{
  display: block;
  width:100%;
  margin: 0 auto;
  border-radius: 5px;
}
input[type="happy-unhappy"]
{
    width:4%;

}
input[name="happy-unhappy"], input[type="checkbox"]
{
  display:inline;
  margin:3%;
  width:5%;

}
fieldset
{
  border: none;
  padding: 5%;
}
textarea
{
  width: 100%;
}
